.userContainer{
    margin-left: -5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn{
    background-color: plum;
    color: white;
    margin-left: 550px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-size: large;
}

.successContainer{
    margin-left: 620px;
}

.user{
    padding: 5px;
    width: 270px;
    background-color: mediumpurple;
    color: white;

}

img{
    width: 270px;
}